.board {
    border:1px solid black;
    display:flex;
    flex-wrap:wrap;
    /*height:276px;*/
    height:410px;
    /*width:330px;*/
    width:480px;
    background:blue;
    margin: auto;
}
.board div {
    /*height:40px;*/
    height:60px;
    /*width:40px;*/
    width:60px;
    /*margin:3px;*/
    margin:4px;
    /*border-radius:20px*/
    border-radius:30px

}
.square{
    background:white;
}
.taken {
    /*background:red !important */
}
.player-one {
    background:red;
}
.player-two {
    background:yellow;
}
.restart{
    /*background: red;*/
    width: 150px;
    height: 100px;
    /*position: fixed;*/
    top: 100px;
    left: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto auto;
}
.currentPlayer{
    margin: auto;
    text-align: center;
    font-size: 22px;
}
.message{
    font-size: 20px;
    width:480px;
    margin: auto;
}