body {
    background-color: #777777;
}
header {
    background-color: #535353;
}
#gameTitle {
    color: cornflowerblue;
    text-shadow: 2px 2px 10px black;
}
#navbarline {
    border: 0;
    margin: 0;
    height: 5px;
    background-image: linear-gradient(to right, cornflowerblue 30%, darkblue);
}
.player {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.board {
    border:1px solid black;
    display:flex;
    flex-wrap:wrap;
    height:410px;
    width:480px;
    background:blue;
    margin: 25px auto auto;
    box-shadow: 0 0 50px 4px black;
}
.board div {
    height:60px;
    width:60px;
    margin:4px;
    border-radius:30px;
}
.square {
    background:whitesmoke;
}
.player-one {
    background:red;
}
.player-two {
    background:yellow;
}
.restart {
    width: 150px;
    height: 100px;
    top: 100px;
    left: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto auto;
}
.playAgain {
    border-radius: 10px;
    font-size: larger;
}
.currentPlayer {
    margin: auto;
    text-align: center;
    font-size: 22px;
}
.message {
    font-size: 20px;
    width:480px;
    margin: 25px auto auto;
    color: red;
    border: 1px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}